@using Noviembre.Core.Entidades
@model Consultorio


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro de Consultorio</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form action="@Url.Action("Guardar", "Consultorio")">
                            <input type="hidden" class="form-control" name="id" value="@Model.Id">

                            <div class="form-group">
                                <label>Número de Consultorio:</label>
                                <input class="form-control" name="numeroExterior" value="@if (Model.Id != 0) { @Model.NumeroExterior}" />
                                <label>Número de Doctor:</label>
                                <input class="form-control" name="idDoctor" value="@if (Model.Id != 0) { @Model.Doctor.Id}" />



                            </div>

                            <button class="btn btn-success" type="submit">Guardar</button>

                        </form>

                    </div>
                        
                </div>
            </div>
        </div>


    </div>
</div>